.addblog {
    min-height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark_addBlog {
    background-color: var(--dark-bg);
}

.light_addBlog {
    background-color: var(--light_bg);
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    .addblog {
        padding-bottom: 5rem;
    }
}