.blogItem {
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* border-top: 0.05rem solid lightgrey; */
    border-bottom: 0.05rem solid lightgrey;
    /* background-color: yellowgreen; */
}

.blogItem .details {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}

.blogItem .details h3 {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    /* background-color: orange; */
}

.blogItem .details h3:hover {
    text-decoration: underline;
}

.blogItem .time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
}

.blogItem .time p {
    color: lightgrey;
}