.blog_page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgb(237, 237, 174); */
}

.blog_page .blog_container {
    width: 80%;
    margin: 2rem auto;
    /* background-color: rgb(255, 194, 82); */
}

.blog_page .blog_container .blog_title, .blog_page .blog_container .blog_description, .blog_page .blog_container .blog_category, .blog_page .blog_container .blog_subtitle {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* background-color: brown; */
}

.blog_page .blog_container .blog_title {
    width: 100%;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
}

.blog_page .blog_container .blog_title .blog_editIcon {
    font-size: 2rem;
    cursor: pointer;
}

.blog_page .blog_container .blog_title .blog_editIcon:hover {
    color: #af8afa;
}

.blog_page .blog_container .blog_description {
    color: lightgrey;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.blog_page .blog_container .blog_category {
    margin-bottom: 2rem;
}

.blog_page .blog_container .blog_content {
    margin-bottom: 2rem;
    /* background-color: lawngreen; */
}

.blog_page .blog_container .blog_subtitle {
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.blog_page .blog_container span {
    font-weight: normal;
}

.blog_page .blog_container .c_item pre {
    /* width: 70%; */
    border: 0.1rem solid #af8afa;
    border-radius: 0.5rem;
}

.blog_page .blog_container .blog_time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_page .blog_container .blog_time p {
    color: white;
}