@import url('https://fonts.googleapis.com/css2?family=Play&family=Signika&display=swap');

.blogForm {
    min-height: 100%;
    width: 100%;
    /* background-color: violet; */
}

.blogForm .pair {
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: limegreen; */
}

.blogForm .pair label {
    margin-bottom: 1rem;
    color: var(--dark-text);
    font-size: 1.3rem;
    font-family: 'Play', sans-serif;
}

.light_blog_form .pair label {
    color: var(--light-text);
}

.blogForm .pair input, .blogForm .pair textarea {
    width: 100%;
    color: var(--dark-text);
    font-family: 'Signika', sans-serif;
    padding: 1rem;
    font-size: 1.2rem;
    border: 0.1rem solid var(--dark-border-1);
    border-radius: 0.5rem;
    background-color: #3b3b3b;
}

.light_blog_form .pair input, .light_blog_form .pair textarea {
    color: var(--light-text);
    border: 0.1rem solid var(--light-border);
    background-color: var(--light-bg);
}

.blogForm .pair input::placeholder, .blogForm .pair textarea::placeholder {
    color: lightgrey;
}

.light_blog_form .pair input::placeholder, .light_blog_form .pair textarea::placeholder {
    color: grey;
}

.blogForm .pair textarea {
    resize: none;
    height: 30vh;
}

.blogForm .pair button {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    color: var(--dark-text);
    font-size: 1.3rem;
    border: 0.1rem solid #b486ec;
    border-radius: 0.5rem;
    background-color: var(--dark-border-1);
    cursor: pointer;
}

.light_blog_form .pair button {
    color: var(--dark-text);
    border: 0.1rem solid rgb(169, 0, 169);
    background-color: var(--light-border);
}

.blogForm .pair button:hover {
    color: var(--dark-border-1);
    background-color: var(--light-bg);
    transition: all 0.2s ease-in-out;
}

.light_blog_form .pair button:hover {
    color: var(--light-border);
    background-color: var(--light-bg);
    transition: all 0.2s ease-in-out;
}

.blogForm .pair .wrap {
    width: 100%;
    /* background-color: antiquewhite; */
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    /* .blogForm {
        width: 100%;
        background-color: orange;
        padding-bottom: 50rem;
    } */
}