.comment_content {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: aquamarine; */
}

.comment_content input, .comment_content textarea {
    margin-bottom: 1rem;
}

.comment_content textarea {
    height: 50vh !important;
}

.comment_content .addContentIcon {
    align-self: flex-end;
    color: #af8afa;
    font-size: 2rem;
    cursor: pointer;
}

.comment_content .addContentIcon:hover {
    color: #d8b8ff;
}