.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.404);
}

.modal {
    height: 25%;
    width: 30%;
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 0.5rem;
}

.dark_modal {
    background-color: var(--dark-bg);
}

.light_modal {
    background-color: var(--light-bg);
}

.modal .modalText {
    color: var(--dark-text);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    /* margin-bottom: 1rem; */
    /* background-color: lime; */
}

.light_modal .modalText {
    color: var(--light-text);
}

.modal .modal_btn_div {
    /* align-self: flex-end; */
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.modal .modal_btn_div button {
    margin: 0 1rem;
    padding: 0.3rem 0.7rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.modal .modal_btn_div .cancel_btn {
    color: var(--light-border);
    border: 0.1rem solid var(--light-border);
    background-color: white;
}

.modal .modal_btn_div .cancel_btn:hover {
    background-color: rgb(238, 237, 237);
    transition: all 0.2s ease-in-out;
}

.modal .modal_btn_div .action_btn {
    color: var(--dark-text);
    border: 0.1rem solid var(--light-border);
    background-color: var(--light-border);
}

.modal .modal_btn_div .action_btn:hover {
    color: var(--light-border);
    background-color: var(--light-bg);
    transition: all 0.2s ease-in-out;
}