.content {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: aquamarine; */
}

.content input, .content textarea, .content select {
    margin-bottom: 1rem;
}

.content select {
    outline: none;
    width: 100%;
    color: var(--dark-text);
    padding: 1rem;
    font-size: 1.2rem;
    border: 0.1rem solid var(--dark-border-1);
    border-radius: 0.5rem;
    background-color: #3b3b3b;
    cursor: pointer;
}

.light_content select {
    color: var(--light-text);
    border: 0.1rem solid var(--light-border);
    background-color: var(--light-bg);
}

.content textarea {
    height: 50vh !important;
}

.content .addContentIcon {
    align-self: flex-end;
    color: var(--dark-border-1);
    font-size: 2rem;
    cursor: pointer;
}

.light_content .addContentIcon {
    color: var(--light-border);
}

.content .addContentIcon:hover {
    color: #d8b8ff;
}

.light_content .addContentIcon:hover {
    color: rgb(162, 0, 162);
}