@import url('https://fonts.googleapis.com/css2?family=Acme&family=Jost&family=Vollkorn&display=swap');

.editProfile {
    min-height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: orange; */
}

.dark_editProfile {
    background-color: var(--dark-bg);
}

.light_editProfile {
    background-color: var(--light-bg);
}

.editProfile .edit_container {
    min-height: 50vh;
    width: 40%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lawngreen; */
}

.editProfile .edit_container .dp_div {
    margin-bottom: 1rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--dark-border-1);
    border-radius: 50%;
    /* background-color: lightcoral; */
}

.light_editProfile .edit_container .dp_div {
    border: 0.1rem solid var(--light-border);
}

.editProfile .edit_container .dp_div span img {
    height: 10rem !important;
    width: 10rem !important;
    border-radius: 50%;
    cursor: pointer;
}

.editProfile .edit_container .dp_div span img:hover {
    opacity: 0.9;
}

.editProfile .edit_container .user_details {
    width: 57%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: peru; */
}

.editProfile .edit_container .user_details .wrapper_div {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: hotpink; */
}

.editProfile .edit_container .user_details .wrapper_div label {
    /* margin-right: 1rem; */
    color: var(--dark-text);
    font-size: 1.2rem;
    font-family: 'Jost', sans-serif;
}

.light_editProfile .edit_container .user_details .wrapper_div label {
    color: var(--light-text);
}

.editProfile .edit_container .user_details .wrapper_div input {
    /* width: 100%; */
    padding: 0.3rem 0;
    color: var(--dark-text);
    font-size: 1.2rem;
    font-family: 'Vollkorn', serif;
    border: none;
    border-bottom: 0.1rem solid var(--dark-border-1);
    background-color: var(--dark-bg);
}

.light_editProfile .edit_container .user_details .wrapper_div input {
    color: var(--light-text);
    border-bottom: 0.1rem solid var(--light-border);
    background-color: var(--light-bg);
}

.editProfile .edit_container .user_details .wrapper_div .change_password {
    color: var(--dark-border-1);
    font-family: 'Acme', sans-serif;
    cursor: pointer;
}

.light_editProfile .edit_container .user_details .wrapper_div .change_password {
    color: var(--light-border);
}

.editProfile .edit_container .user_details .wrapper_div .change_password:hover {
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

.editProfile .edit_container .user_details .btn_div {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lime; */
}

.editProfile .edit_container .user_details .btn_div button {
    width: 7rem;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.editProfile .edit_container .user_details .btn_div .delete_btn {
    color: red;
    font-family: 'Acme', sans-serif;
    cursor: pointer;
}

.editProfile .edit_container .user_details .btn_div .delete_btn:hover {
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

.editProfile .edit_container .user_details .btn_div .edit_btn {
    color: white;
    font-family: 'Acme', sans-serif;
    border: 0.1rem solid purple;
    background-color: purple;
}

.editProfile .edit_container .user_details .btn_div .edit_btn:hover {
    color: purple;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 480px) {

    .editProfile {
        min-height: 90vh;
    }

    .editProfile .edit_container {
        min-height: 70vh;
        width: 90%;
        margin-top: 2rem;
        /* background-color: lawngreen; */
    }

    .editProfile .edit_container .user_details {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* background-color: peru; */
    }

    .editProfile .edit_container .user_details .wrapper_div {
        margin-bottom: 2rem;
        /* background-color: hotpink; */
    }

    .editProfile .edit_container .user_details .wrapper_div input {
        width: 75%;
        /* background-color: orange; */
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .editProfile {
        min-height: 90vh;
    }

    .editProfile .edit_container {
        min-height: 70vh;
        width: 90%;
        margin-top: 2rem;
        /* background-color: lawngreen; */
    }

    .editProfile .edit_container .user_details {
        width: 80%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* background-color: peru; */
    }

    .editProfile .edit_container .user_details .wrapper_div {
        margin-bottom: 2rem;
        /* background-color: hotpink; */
    }

    .editProfile .edit_container .user_details .wrapper_div input {
        width: 75%;
        /* background-color: orange; */
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .editProfile {
        min-height: 90vh;
    }

    .editProfile .edit_container {
        min-height: 70vh;
        width: 80%;
        margin-top: 2rem;
        /* background-color: lawngreen; */
    }

    .editProfile .edit_container .user_details {
        width: 75%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* background-color: peru; */
    }

    .editProfile .edit_container .user_details .wrapper_div {
        margin-bottom: 2rem;
        /* background-color: hotpink; */
    }

    .editProfile .edit_container .user_details .wrapper_div input {
        width: 75%;
        /* background-color: orange; */
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .editProfile {
        min-height: 90vh;
    }

    .editProfile .edit_container {
        min-height: 70vh;
        width: 65%;
        margin-top: 2rem;
        /* background-color: lawngreen; */
    }

    .editProfile .edit_container .user_details {
        width: 80%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* background-color: peru; */
    }

    .editProfile .edit_container .user_details .wrapper_div {
        margin-bottom: 2rem;
        /* background-color: hotpink; */
    }

    .editProfile .edit_container .user_details .wrapper_div input {
        width: 80%;
        /* background-color: orange; */
    }
}

@media only screen and (min-width: 901px) and (max-width: 1450px) {

    .editProfile .edit_container {
        min-height: 70vh;
        width: 50%;
        margin-top: 2rem;
        /* background-color: lawngreen; */
    }

    .editProfile .edit_container .user_details {
        width: 67%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* background-color: peru; */
    }

    .editProfile .edit_container .user_details .wrapper_div input {
        width: 80%;
        /* background-color: orange; */
    }
}