.editblog {
    min-height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark_editblog {
    background-color: var(--dark-bg);
}

.light_editblog {
    background-color: var(--light-bg);
}

/* Media Queries */

@media only screen and (max-width: 900px) {
    .editblog {
        min-height: 90vh;
        padding-bottom: 5rem;
    }
}