.forgotPassword {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.forgotPassword .details_box {
    /* margin-top: 10rem; */
    min-height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 0.1rem solid purple;
    border-radius: 0.5rem;
    background-color: white;
}

.forgotPassword .details_box .reset_head {
    width: 100%;
    padding: 1rem;
    border-bottom: 0.1rem solid lightgrey;
    /* background-color: orange; */
}

.forgotPassword .details_box .container_div {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid lightgrey;
    /* background-color: hotpink; */
}

.forgotPassword .details_box .container_div .email_input_div {
    width: 100%;
    padding: 1rem 0;
    /* background-color: lime; */
}

.forgotPassword .details_box .container_div h3 {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-weight: normal;
}

.forgotPassword .details_box .container_div input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
}

.forgotPassword .details_box .container_div input:focus {
    border: 0.1rem solid purple;
}

.forgotPassword .details_box .reset_btn_div {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: orchid; */
}

.forgotPassword .details_box button {
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.3rem;
    border: 0.1rem solid purple;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: purple;
}

.forgotPassword .details_box button:hover {
    color: purple;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.forgotPassword .details_box .bottom_div {
    width: 100%;
    border-top: 0.1rem solid lightgrey;
}

.forgotPassword .details_box .container_div .code_div {
    width: 100%;
    /* background-color: yellowgreen; */
}

/* Media Queries */

@media only screen and (max-width: 480px) {

    .forgotPassword .details_box {
        min-height: 40%;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border: 0.1rem solid purple;
        border-radius: 0.5rem;
        background-color: white;
    }
}

@media only screen and (min-width: 481px) and (max-width: 720px) {

    .forgotPassword .details_box {
        min-height: 40%;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border: 0.1rem solid purple;
        border-radius: 0.5rem;
        background-color: white;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .forgotPassword .details_box {
        min-height: 40%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border: 0.1rem solid purple;
        border-radius: 0.5rem;
        background-color: white;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .forgotPassword .details_box {
        min-height: 40%;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border: 0.1rem solid purple;
        border-radius: 0.5rem;
        background-color: white;
    }
}