.container {
  background-color: white;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  /* background-color: limegreen; */
}

.main .categoriesDiv {
  height: 12vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid lightgrey;
  /* background-color: orange; */
}

.main .categoriesDiv h4 {
  margin: 0 1rem;
  color: grey;
}

.main .title {
  /* width: 75%; */
  margin: 2rem auto;
  /* background-color: yellowgreen; */
}