@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Secular+One&display=swap');

.container {
  width: 100%;
  /* background-color: white; */
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  /* background-color: limegreen; */
}

.main .categoriesDiv {
  height: 12vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid #af8afa;
  /* background-color: orange; */
}

.main .categoriesDiv h4 {
  margin: 0 1rem;
  color: white;
  font-family: 'Heebo', sans-serif;
}

.main .title {
  width: 75%;
  margin: 2rem auto;
  margin-bottom: 0;
  color: white;
  font-family: 'Secular One', sans-serif;
  /* background-color: yellowgreen; */
}