.landingPage {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.landingPage .landing_banner {
    min-height: 85vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/static/images/banner.gif") center center no-repeat;
    background-size: 100vw 100%;
    /* background: #ffcf10; */
    /* background: purple; */
}

.landingPage .landing_banner .landing_banner_head {
    /* color: black; */
    font-size: 3rem;
    /* background-color: red; */
}

.landingPage .landing_banner .intro_text {
    width: 30%;
    margin: 1rem auto;
    font-weight: normal;
    text-align: center;
    /* background-color: lime; */
}

.landingPage .landing_bottom_div {
    height: 35vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* background-color: orchid; */
}

.landingPage .landing_bottom_div h1 {
    padding: 1rem 0;
    /* background-color: lime; */
}

.landingPage .landing_bottom_div p {
    width: 35%;
    margin: 2rem auto;
    text-align: center;
    /* background-color: limegreen; */
}