@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Signika+Negative&display=swap');

.navbar {
    height: 13vh;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1rem solid #af8afa;
    background-color: #212121;
}

.navbar .logoDiv {
    width: 25vw;
    /* background-color: palegreen; */
}

.navbar .logoDiv .logo {
    color: white;
    font-family: 'DynaPuff', cursive;
}

.navbar .searchDiv {
    position: relative;
    align-self: center;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    /* background-color: brown; */
}

.navbar .searchDiv input {
    outline: none;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    font-family: 'Signika Negative', sans-serif;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #af8afa;
    border-radius: 0.5rem;
    background-color: #3b3b3b;
}

.navbar .searchDiv .searchIcon {
    position: absolute;
    top: auto;
    right: 1rem;
    color: #af8afa;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar .searchDiv .searchIcon:hover {
    color: #d8b8ff;
    transition: all 0.2s ease-in-out;
}

.navbar .menuDiv {
    width: 25vw;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: hotpink; */
}

.navbar .menuDiv h3, .navbar .menuDiv .icons {
    margin: 0 1rem;
    padding: 0;
    color: white;
    cursor: pointer;
    /* background-color: orange; */
}

.navbar .menuDiv .icons {
    font-size: 2rem;
    /* background-color: orchid; */
}

.navbar .menuDiv .profileIcon {
    font-size: 1.5rem;
}

.navbar .menuDiv h3:hover, .navbar .menuDiv .icons:hover {
    color: #af8afa;
    transition: all 0.2s ease-in-out;
}