.passwordreset {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.passwordreset .password_box {
    height: 42%;
    width: 30%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid purple;
    border-radius: 0.5rem;
}

.passwordreset .password_box .reset_header {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 0.5rem;
    color: black;
    align-self: flex-start;
    /* background-color: orange; */
}

.passwordreset .password_box input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1.2rem;
    border: 0.1rem solid purple;
    border-radius: 0.5rem;
    background-color: white;
}

.passwordreset .password_box button {
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.2rem;
    border: 0.1rem solid purple;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: purple;
}

.passwordreset .password_box button:hover {
    color: purple;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 480px) {

    .passwordreset .password_box {
        height: 45%;
        width: 80%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 720px) {

    .passwordreset .password_box {
        height: 50%;
        width: 70%;
    }

    .passwordreset .password_box input {
        margin-bottom: 1.5rem;
        padding: 0.7rem 1rem;
    }

    .passwordreset .password_box button {
        padding: 0.7rem 1rem;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .passwordreset .password_box {
        height: 50%;
        width: 50%;
    }

    .passwordreset .password_box input {
        margin-bottom: 1.5rem;
        padding: 0.7rem 1rem;
    }

    .passwordreset .password_box button {
        padding: 0.7rem 1rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .passwordreset .password_box {
        height: 45%;
        width: 40%;
    }
}