@import url('https://fonts.googleapis.com/css2?family=Lora&family=Signika&display=swap');

.password_overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.467);
}

.password_overlay .password_modal {
    height: 48vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    /* justify-content: center; */
}

.password_overlay .dark_password_modal {
    background-color: var(--dark-bg);
}

.password_overlay .light_password_modal {
    background-color: var(--light-bg);
}

.password_overlay .password_modal .password_input_div {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: orange; */
}

.password_overlay .password_modal .password_input_div input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Signika', sans-serif;
    border: 0.1rem solid var(--dark-border-1);
    border-radius: 0.5rem;
}

.password_overlay .light_password_modal .password_input_div input {
    border: 0.1rem solid var(--light-border);
}

.password_overlay .password_modal .password_btn_div {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lime; */
}

.password_overlay .password_modal .password_btn_div button {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-family: 'Lora', serif;
    border: 0.1rem solid var(--light-border);
    border-radius: 0.5rem;
    cursor: pointer;
}

.password_overlay .password_modal .password_btn_div .password_cancel_btn {
    margin-right: 1rem;
    color: var(--light-border);
    background-color: var(--light-bg);
}

.password_overlay .password_modal .password_btn_div .password_cancel_btn:hover {
    color: var(--dark-text);
    background-color: var(--light-border);
}

.password_overlay .password_modal .password_btn_div .password_confirm_btn {
    color: var(--dark-text);
    background-color: var(--light-border);
}

.password_overlay .password_modal .password_btn_div .password_confirm_btn:hover {
    color: var(--light-border);
    background-color: var(--light-bg);
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    .password_overlay .password_modal {
        height: 50vh;
        width: 80%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .password_overlay .password_modal {
        height: 50vh;
        width: 70%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {
    .password_overlay .password_modal {
        height: 50vh;
        width: 60%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {
    .password_overlay .password_modal {
        height: 50vh;
        width: 55%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .password_overlay .password_modal {
        height: 50vh;
        width: 40%;
    }
}