@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.searchBlogs {
    min-height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: orange; */
}

.dark_searchBlogs {
    background-color: var(--dark-bg);
}

.light_searchBlogs {
    background-color: var(--light-bg);
}

.searchBlogs .result_head {
    width: 75%;
    margin: 2rem 0;
    color: var(--dark-text);
    font-family: 'Secular One', sans-serif;
    /* background-color: pink; */
}

.light_searchBlogs .result_head {
    color: var(--light-text);
}

.searchBlogs .results_div {
    width: 75%;
    /* background-color: limegreen; */
}

.searchBlogs .results_div .no_result {
    color: var(--dark-text);
}

.light_searchBlogs .results_div .no_result {
    color: var(--light-text);
}

/* Media Queries */

@media only screen and (max-width: 900px) {
    .searchBlogs {
        min-height: 90vh;
    }
}