.user_div {
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1rem solid #af8afa;
    /* background-color: palevioletred; */
}

.user_div img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    border: 0.1rem solid #af8afa;
    border-radius: 50%;
}

.user_div .username {
    color: white;
    cursor: pointer;
}

.user_div .username:hover {
    color: #af8afa;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}