@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.userList {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* background-color: orchid; */
}

.userList .no_users_found {
    color: var(--dark-text);
    font-family: 'Rubik', sans-serif;
}

.light_userList .no_users_found {
    color: var(--light-text);
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    .userList {
        width: 65%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .userList {
        width: 60%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {
    .userList {
        width: 50%;
    }
}