.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: orchid; */
}

.userList .no_users_found {
    color: var(--dark-text);
}

.light_userList .no_users_found {
    color: var(--light-text);
}